.font-ss{
    font: 400 0.75rem/1.5 "Roboto", sans-serif;
}

.font-s{
    font: 400 1rem/1.5 "Roboto", sans-serif;
}

.font-sm{
    font: 400 0.85rem/1.5 "Roboto", sans-serif;
}

.font-m{
    font: 400 1.125rem/1.5 "Roboto", sans-serif;
}

.font-l{
    font: 400 1.5rem/1.5 "Roboto", sans-serif;
}